* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #3E363F;
  --secondary: #E6AF2E;
  --accent-1: #B1EDE8;
  --accent-2: #307473;
  --accent-3: #2274A5;
  --width: 100vw;
  /* colors for svg */
  --svg-primary: invert(19%) sepia(2%) saturate(3956%) hue-rotate(246deg) brightness(92%) contrast(85%);
  --svg-accent-2: invert(36%) sepia(6%) saturate(3647%) hue-rotate(130deg) brightness(101%) contrast(80%);
}

p {
  color: var(--primary);
}

/* Body */
body {
  min-width: 800px;
  font-family: "Manjari", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.manjari-bold {
  font-family: "Manjari", sans-serif;
  font-weight: 700;
  font-style: normal;
}

a {
  text-decoration: none;
}

figcaption {
  padding-top: 5px;
}

/* Headings */
h1, h2, h3 {
  font-family: "Kalam", cursive;
  font-weight: 400;
  font-style: normal;
  color: var(--secondary);
  text-align: center;
}

h1 {
  font-size: 2.5rem;
}

.kalam-regular {
  font-family: "Kalam", cursive;
  font-weight: 400;
  font-style: normal;
}

.kalam-bold {
  font-family: "Kalam", cursive;
  font-weight: 700;
  font-style: normal;
}

.hero {
  display: grid;
  grid-template-columns: 1fr 80% 1fr;
  grid-template-rows: 5% 1fr 80% 1fr;
}

.hero > img {
  display: block;
  width: 100%;
  height: auto;
  grid-column: 1/2;
  grid-area: 1/1/5/4;
}

.hero h1 {
  text-align: center;
  height: fit-content;
  width: fit-content;
  justify-self: center;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 0 1rem;
  grid-row: 2/3;
  grid-column: 2/3;
}

.hero article {
  background-color: rgba(0, 0, 0, 0.7);
  height: fit-content;
  padding: 1rem;
  grid-row: 3/4;
  grid-column: 2/3;
  display: flex;
  flex-direction: row;
  align-self: center;
}

.hero p {
  font-size: large;
}

header {
  padding: 25px 10%;
  display: grid;
  grid-template-columns: 200px 3fr;
  background-color: var(--accent-1);
}

.logo-wrapper {
  place-self: center;
  margin-right: 1rem;
}

.logo-wrapper img {
  width: 200px;
  height: auto;
}

header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

header nav a {
  background-color: var(--primary);
  display: block;
  width: 100%;
  text-align: center;
  color: var(--secondary);
  padding: 1rem;
  font-size: x-large;
}

header nav a:hover {
  background-color: var(--secondary);
  color: var(--primary);
}

.history-details {
  display: grid;
  grid-template-columns: 1fr 15% 1fr;
}

.history-details img {
  width: 100%;
  height: auto;
}

.history-details p {
  padding: 0 1rem;
}

.history-wrapper {
  padding: 1rem 0;
}

.history-wrapper h2 {
  text-align: center;
}

.adventure-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}

.adventure-wrapper .images-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.images-wrapper img {
  width: 100%;
}

.images-wrapper figure {
  padding: 0 10px;
}

.images-wrapper figcaption {
  text-align: center;
}

footer {
  background-color: var(--accent-1);
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  height: 3rem;
}

footer p {
  grid-column: 2;
  place-self: center;
}

footer nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 2rem;
}

footer img {
  height: 2.2rem;
  width: 2.2rem;
  padding: 0 5px;
  filter: var(--svg-primary);
}

footer img:hover {
  filter: var(--svg-accent-2);
}

section h2, h3 {
  color: var(--primary);
}

/* section {
  padding: 1rem 0;
} */


/* About Us */

.hero article p {
  color: var(--secondary);
}

.hero article > div > p:first-child {
  margin-bottom: 1rem;
}

.hero-article-about-image {
  width: 250px;
  height: auto;
  margin-left: 1rem;
}

/* Contact Us */

.hero-article-section-contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.hero-article-section-contact figure {
  padding: 15px;
  width: 30%;
}
.hero-article-section-contact img {
  width: 100%;
}

.hero-article-section-contact h2 {
  color: var(--secondary);
  text-align: center;
}

.hero-article-section-contact figcaption {
  color: var(--secondary);
}

.location {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1rem 0;
}

.location-details {
  display: flex;
  width: 80%;
}

.location-details > div {
  padding: 1rem;
}

.location-details-left {
  width: 60%;
}

.location-details-rigth {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.location-details-rigth h3{
  width: 40%;text-align: left;
}

.location-details iframe {
  width:100%;
  height:300px;
  border:0;
}

.location-details p {
  margin: auto;
  width: 40%;

}

.form-wrapper {
  width: 60%;
  margin: auto;
  padding: 1rem 0;
}

.form-wrapper h2 {
  color: var(--primary);
  text-align: center;
}

form {
  padding: 0 1rem 1rem 1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  background-color: var(--accent-1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-fields {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 1rem;
}

.radio-group {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
}

.fullwidth {
  width: 100%;
}

.field {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.field-option {
  display: flex;
  flex-direction: row;
  align-items: center;
}

input, textarea {
  padding: 10px;
  border-radius: 5px;
  border: 0;
}

.checkbox-option {
  margin-left: 5px;
  cursor: pointer;
}

.radio-option {
  margin-right: 5px;
  cursor: pointer;
}

button {
  width: 25%;
  padding: 7px;
  border-radius: 5px;
  box-shadow: none;
  border: 0;
  cursor: pointer;
}

button:hover {
  background-color: var(--secondary);
}

/* Home */

.call-to-action {
  color: var(--primary);
  background-color: var(--accent-1);
  padding: 15px;
  margin-top: 1rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  width: fit-content;
}

.call-to-action:hover {
  background-color: var(--secondary);
  color: var(--primary);
}

.hero-article-section-home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.hero-article-section-home h2 {
  color: var(--secondary);
  margin-bottom: 1rem;
  text-shadow: 1px 1px var(--accent-3);
  font-weight: 500;
}

.purpose-and-offerings-wrapper {
  padding: 1rem 0;
  width: 80%;
  margin: auto;
}

.purpose-and-offerings {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.purpose-and-offerings figure {
  padding: 1rem;
}

.subscribe-form-wrapper {
  width: 30%;
}

.subscribe-form-wrapper p {
  margin-bottom: 1rem;
}

.subscribe-form-wrapper button {
  width: 80%;
}

.subscribe-form-card {
  padding: 1rem;
}

.reviews-and-subscribe {
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: space-around;
  padding: 1rem 5%;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  margin: 1rem;
  border-radius: 5px;
  position: relative;
}

.card img {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.image-overlay {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.card:hover img {
  opacity: 0.3;
}

.card:hover .image-overlay {
  opacity: 1;
}

.testimonials-wrapper {
  margin-right: 1rem;
  width: 80%;
}

.testimonials-cards-wrapper {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
}

.testimonial-card {
  width: 30%;
  margin: 0.5rem;
}

.star-checked {
  color: var(--secondary);
}

.user-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 1rem;
}

.text-review {
  font-size: smaller;
  margin: 1rem 0;
}

/* Trips */

.call-to-action-trips-wrapper {
  display: flex;
  justify-content: space-around;
  width: 80%;
}

.trips-available-wrapper {
  padding: 1rem 0;
  width: 90%;
  margin: auto;
}

.trips-available {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.trips-available figure {
  padding: 1rem;
}

.table-section-wrapper {
  padding: 1rem 0;

}

.table-container {
  width: 80%;
  margin: 1rem auto;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 5px;
}

table {
  width:100%;
  table-layout: fixed;
}
.table-header {
  background-color: var(--accent-1);
  border-bottom: solid 1px rgba(0,0,0,0.1);
  border-radius: 5px 5px 0 0;

 }
.table-content {
  height:300px;
  overflow-x:auto;
  margin-top: 0px;
  /* border: 1px solid rgba(0,0,0,0.3); */
}
th{
  padding: 20px 15px;
  text-align: center;
  color: var(--primary);
}
td{
  padding: 15px;
  vertical-align:middle;
  color: var(--primary);
  border-bottom: solid 1px rgba(0,0,0,0.1);
}

tr:last-child td{
  border-bottom: none;
}

.table-action-column {
  display: flex;
  justify-content: center;
  align-items: center;
}

.col-1 {
  width: 15%;
}
.col-2 {
  width: 10%;
}
.col-3 {
  width: 55%;
}
.col-4 {
  width: 20%;
}
