* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #3E363F;
  --secondary: #E6AF2E;
  --accent-1: #B1EDE8;
  --accent-2: #307473;
  --accent-3: #2274A5;
  --width: 100vw;
  /* colors for svg */
  --svg-primary: invert(19%) sepia(2%) saturate(3956%) hue-rotate(246deg) brightness(92%) contrast(85%);
  --svg-accent-2: invert(36%) sepia(6%) saturate(3647%) hue-rotate(130deg) brightness(101%) contrast(80%);
}

p {
  color: var(--primary);
}

/* Body */
body {
  min-width: 800px;
  font-family: "Manjari", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.manjari-bold {
  font-family: "Manjari", sans-serif;
  font-weight: 700;
  font-style: normal;
}



/* Headings */
h1, h2, h3 {
  font-family: "Kalam", cursive;
  font-weight: 300;
  font-style: normal;
  color: var(--secondary);
}

.kalam-regular {
  font-family: "Kalam", cursive;
  font-weight: 400;
  font-style: normal;
}

.kalam-bold {
  font-family: "Kalam", cursive;
  font-weight: 700;
  font-style: normal;
}

.social a {
  text-decoration: none;
}

.hero {
  display: grid;
  grid-template-columns: 1fr 80% 1fr;
  grid-template-rows: 5% 1fr 80% 1fr;
}

.hero > img {
  display: block;
  width: 100%;
  height: auto;
  grid-column: 1/2;
  grid-area: 1/1/5/4;
}

.hero h1 {
  text-align: center;
  height: fit-content;
  width: fit-content;
  justify-self: center;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 0 1rem;
  grid-row: 2/3;
  grid-column: 2/3;
}

.hero article {
  background-color: rgba(0, 0, 0, 0.7);
  height: fit-content;
  padding: 1rem;
  grid-row: 3/4;
  grid-column: 2/3;
  display: flex;
  flex-direction: row;
  align-self: center;
}

header {
  padding: 25px 10%;
  display: grid;
  grid-template-columns: 200px 3fr;
  background-color: var(--accent-1);
}

.logo-wrapper {
  place-self: center;
}

.logo-wrapper img {
  width: 150px;
  height: auto;
}

header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

header nav a {
  background-color: var(--primary);
  display: block;
  width: 100%;
  text-align: center;
  color: var(--secondary);
  padding: 0.5rem;
  text-decoration: none;
}

header nav a:hover {
  background-color: var(--secondary);
  color: var(--primary);
}

.history-details {
  display: grid;
  grid-template-columns: 1fr 15% 1fr;
}

.history-details img {
  width: 100%;
  height: auto;
}

.history-details p {
  padding: 0 1rem;
}

.history-wrapper h2 {
  text-align: center;
}

.adventure-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.adventure-wrapper .images-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.images-wrapper img {
  width: 100%;
}

.images-wrapper figure {
  padding: 0 10px;
}

.images-wrapper figcaption {
  text-align: center;
}

footer {
  background-color: var(--accent-1);
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  height: 3rem;
}

footer p {
  grid-column: 2;
  place-self: center;
}

footer nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 2rem;
}

footer img {
  height: 2.2rem;
  width: 2.2rem;
  padding: 0 5px;
  filter: var(--svg-primary);
}

footer img:hover {
  filter: var(--svg-accent-2);
}

section h2, h3 {
  color: var(--primary);
}

section {
  padding: 1rem 0;
}


/* About Us */

.hero article p {
  color: var(--secondary);
}

.hero article > div > p:first-child {
  margin-bottom: 1rem;
}

.hero-article-about-image {
  width: 250px;
  height: auto;
  margin-left: 1rem;
}

/* Contact Us */

.hero-article-section-contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.hero-article-section-contact div {
  padding: 15px;
  width: 30%;
}
.hero-article-section-contact img {
  width: 100%;
}

.hero-article-section-contact h2 {
  color: var(--secondary);
  text-align: center;
}

.location {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.location-details {
  display: flex;
  width: 80%;
}

.location-details > div {
  padding: 1rem;
}

.location-details-left {
  width: 60%;
}

.location-details-rigth {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.location-details iframe {
  width:100%;
  height:300px;
  border:0;
}

.location-details p {
  margin: auto;
  width: 40%;

}

.form-wrapper h2 {
  color: var(--primary);
  text-align: center;
}

form {
  width: 60%;
  margin: 0 auto;
  padding: 0 1rem 1rem 1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  background-color: var(--accent-1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-fields {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 1rem;
}

.radio-group {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.fullwidth {
  width: 100%;
}

.field {
  padding: 10px;
  display: flex;
  align-items: center;
}

input, textarea {
  padding: 10px;
  border-radius: 5px;
  border: 0;
}

.radio-option, .checkbox-option {
  margin-left: 5px;
}

button {
  width: 25%;
  padding: 7px;
  border-radius: 5px;
  box-shadow: none;
  border: 0;
  cursor: pointer;
}

button:hover {
  background-color: var(--secondary);
}
